@page "/CreateRoom"

@rendermode InteractiveServer
<html>
<head>
    <PageTitle>Создание комнаты</PageTitle>
    <style>
        body {
            margin: 0px;
            padding: 0px;
            background: white;
        }
    </style>
</head>
<body>
    <p style="font-size: 95px; margin-left: 800px; margin-top: 25px;">Создайте комнату</p>
    <form id="registrationForm"; mathod="post">

        <div>
            <p style="font-size: 40px; margin-left: 90px; margin-top: 25px;">Введите название комнаты:</p>
            <input style="margin-left: 90px; margin-top: 25px; height: 40px; width: 510px; background: " placeholder="Название комнаты">
        </div>
    </form>
</body>
</html>
@code {

}
