@page "/CreateRoom"

@rendermode InteractiveServer
<html>
<head>
    <PageTitle>Создание комнаты</PageTitle>
    <style>
        body {
            margin: 0px;
            padding: 0px;
            background: white;
        }
        .roundedStyle {
            border-width: 3px;
            border-color: #305BAB;
            width: 370px;
            height: 70px;
            border-radius: 10px;
            background: #C6DCFF;
            text-align: center;
            font-size: 40px;
        }
        .cardStyle {
            margin-top: 25px;
            margin-left: 20px;
            text-align: center;
            font-size: 40px;
            width: 370px;
            height: 70px;
            background: #C6DCFF;
        }
    </style>
</head>
<body>
    <p style="font-size: 95px; margin-left: 800px; margin-top: 25px;">Создайте комнату</p>
    <form id="registrationForm"; mathod="post">

        <div style="display: flex;">
            <div>
                <div>
                    <p style="font-size: 40px; margin-left: 90px; margin-top: 25px;">Введите название комнаты:</p>
                    <input style="margin-left: 90px; margin-top: 10px; height: 40px; width: 510px; background: #EBF1FB;" class="roundedStyle;" placeholder="Название комнаты">
                </div>
                <div>
                    <p style="font-size: 40px; margin-left: 90px; margin-top: 25px;">Выберите доступность:</p>
                    <select style="margin-left: 90px; margin-top: 10px; height: 40px; width: 510px; background: #EBF1FB;" class="roundedStyle;">
                        <option>Приватная</option>
                        <option>Публичная</option>
                    </select>
                </div>
            </div>
            <div>
                <p style="font-size: 40px; margin-left: 90px; margin-top: 25px;">Добавьте свои опросы:</p>
                <div class="roundedStyle" style="scrollbar-color: #658FD0 #7AAEFD; overflow: auto; margin-left: 90px; margin-top: 10px; width: 450px; height: 750px; border-radius: 50px; background: #A0C6FF;">
                    <div class="cardStyle">qqq</div>
                </div>
            </div>
        </div>
    </form>
</body>
</html>
@code {

}
