@page "/"
@using SurveyProject.Components.Element

<Toolbar />

<div class="container">
    <main>
        <div class="content-wrapper">
            <h1>Васаб</h1>
            
        </div>
    </main>
</div>